/target/
*/target/*
/Screenshots
*.pydevproject
.project
/.plugins/

bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.recommenders/
/.metadata/
.metadata/*
.metadata
*.idea*

.DS_Store
*/.DS_Store*
extent.html